@charset "utf-8";

body{}

section{
  width: 100px; height: 100px;
  margin: 300px auto;
}

section > h2{display: none;}

section > img {
  width: 100px; height: 100px;
  position: absolute;
  left: 50%; right: 50%;
  transform: translate(-50%, -50%);
}